header#header.header(data-aos="fade" data-aos-duration="1000" data-aos-delay="2900")
	.header__container.container 
		.header__row 
			.header__logo 
			.header__menu.menu 
				nav.menu__nav
					ul.menu__list 
						li.menu__item 
							a.menu__link.class-bold(href="") Каталог
						li.menu__item 
							a.menu__link.active(href="") Новости
						li.menu__item 
							a.menu__link(href="") О нас
						li.menu__item 
							a.menu__link(href="") Новости
				.menu__logo.class-mobile 
				a.header__tel.class-mobile(href="") 
					svg(width='25' height='26' viewBox='0 0 25 26' fill='none' xmlns='http://www.w3.org/2000/svg')
						path(d='M1.57834 7.00434C1.47762 9.76029 2.14998 14.4406 6.67572 19.1354C7.76757 20.2681 8.8586 21.1681 9.92296 21.8803M3.71029 2.67739C5.64968 0.665531 8.74393 0.935842 9.9753 3.22469L10.8789 4.90433C11.6944 6.42011 11.367 8.40855 10.0827 9.7409C10.0827 9.7409 10.0827 9.7409 10.0827 9.74091C10.0825 9.74106 8.52493 11.3572 11.3494 14.2871C14.173 17.2162 15.7308 15.6023 15.7319 15.6012C15.7319 15.6012 15.7319 15.6012 15.7319 15.6011C17.0163 14.2688 18.9331 13.9293 20.3942 14.7752L22.0134 15.7126C24.2198 16.9899 24.4804 20.1998 22.541 22.2117C21.3756 23.4206 19.948 24.3612 18.3699 24.4233C17.2365 24.4679 15.7655 24.3665 14.0998 23.871' stroke='#D61F24' stroke-width='2.04' stroke-linecap='round')
					span 
						span.class-medium +7 812 
						span.class-bold 635-08-62
			.header__info 
				a.header__map-link(href="") Магазин запчастей на карте
				.header__schedule пн - пт 09:00-18:30 сб 10:00-16:00
				a.header__tel.class-mobile(href="") 
					svg(width='25' height='26' viewBox='0 0 25 26' fill='none' xmlns='http://www.w3.org/2000/svg')
						path(d='M1.57834 7.00434C1.47762 9.76029 2.14998 14.4406 6.67572 19.1354C7.76757 20.2681 8.8586 21.1681 9.92296 21.8803M3.71029 2.67739C5.64968 0.665531 8.74393 0.935842 9.9753 3.22469L10.8789 4.90433C11.6944 6.42011 11.367 8.40855 10.0827 9.7409C10.0827 9.7409 10.0827 9.7409 10.0827 9.74091C10.0825 9.74106 8.52493 11.3572 11.3494 14.2871C14.173 17.2162 15.7308 15.6023 15.7319 15.6012C15.7319 15.6012 15.7319 15.6012 15.7319 15.6011C17.0163 14.2688 18.9331 13.9293 20.3942 14.7752L22.0134 15.7126C24.2198 16.9899 24.4804 20.1998 22.541 22.2117C21.3756 23.4206 19.948 24.3612 18.3699 24.4233C17.2365 24.4679 15.7655 24.3665 14.0998 23.871' stroke='#D61F24' stroke-width='2.04' stroke-linecap='round')
					span 
						span.class-medium +7 812 
						span.class-bold 635-08-62
			a.header__tel.class-desktop(href="") 
				svg(width='25' height='26' viewBox='0 0 25 26' fill='none' xmlns='http://www.w3.org/2000/svg')
					path(d='M1.57834 7.00434C1.47762 9.76029 2.14998 14.4406 6.67572 19.1354C7.76757 20.2681 8.8586 21.1681 9.92296 21.8803M3.71029 2.67739C5.64968 0.665531 8.74393 0.935842 9.9753 3.22469L10.8789 4.90433C11.6944 6.42011 11.367 8.40855 10.0827 9.7409C10.0827 9.7409 10.0827 9.7409 10.0827 9.74091C10.0825 9.74106 8.52493 11.3572 11.3494 14.2871C14.173 17.2162 15.7308 15.6023 15.7319 15.6012C15.7319 15.6012 15.7319 15.6012 15.7319 15.6011C17.0163 14.2688 18.9331 13.9293 20.3942 14.7752L22.0134 15.7126C24.2198 16.9899 24.4804 20.1998 22.541 22.2117C21.3756 23.4206 19.948 24.3612 18.3699 24.4233C17.2365 24.4679 15.7655 24.3665 14.0998 23.871' stroke='#D61F24' stroke-width='2.04' stroke-linecap='round')
				span 
					span.class-medium +7 812 
					span.class-bold 635-08-62
			.header__burder 
				svg(xmlns='http://www.w3.org/2000/svg' width='35' height='25' viewBox='0 0 35 25' fill='none')
					line(x1='2.1' y1='2.9' x2='32.9' y2='2.9' stroke='#7F89A7' stroke-width='4.2' stroke-linecap='round')
					line(x1='2.1' y1='12.6998' x2='32.9' y2='12.6998' stroke='#7F89A7' stroke-width='4.2' stroke-linecap='round')
					line(x1='2.1' y1='22.4999' x2='32.9' y2='22.4999' stroke='#7F89A7' stroke-width='4.2' stroke-linecap='round')
