.screen3 
	.container 
		.screen3__row 
			.screen3__title.general-title Каталог <br> запчастей
			.screen3__text.general-text В 2019 году начинается производство запчастей под собственным брендом “Ashuno”. В 2022 году компания выходит на российский рынок. И теперь автовладельцы от Калининграда до Владивостока могут по достоинству оценить исключительное качество запчастей “Ashuno”.
		.screen3__swiper-outerwrapper 
			.screen3__swiper-arrow-prev.swiper-arrow.swiper-arrow-prev.class-desktop.arrow-swiper-prev-small
				svg(width='41' height='71' viewBox='0 0 41 71' fill='none' xmlns='http://www.w3.org/2000/svg')
					path(d='M39.0526 69.0788C36.613 71.6404 32.6577 71.6404 30.2181 69.0788L2.712 40.1958C0.272436 37.6341 0.272433 33.4808 2.71199 30.9192C5.15155 28.3575 9.10685 28.3575 11.5464 30.9192L39.0526 59.8021C41.4921 62.3638 41.4921 66.5171 39.0526 69.0788Z' fill='#D61F24')
					path(d='M39.0527 1.92125C41.4922 4.48292 41.4922 8.6362 39.0527 11.1979L11.5465 40.0808C9.10694 42.6425 5.15163 42.6425 2.71208 40.0808C0.27252 37.5192 0.272521 33.3659 2.71208 30.8042L30.2182 1.92125C32.6578 -0.640415 36.6131 -0.640419 39.0527 1.92125Z' fill='#D61F24')
			.screen3__swiper-arrow-prev.swiper-arrow.swiper-arrow-prev.class-desktop.arrow-swiper-prev-big
				svg(width='41' height='71' viewBox='0 0 41 71' fill='none' xmlns='http://www.w3.org/2000/svg')
					path(d='M39.0526 69.0788C36.613 71.6404 32.6577 71.6404 30.2181 69.0788L2.712 40.1958C0.272436 37.6341 0.272433 33.4808 2.71199 30.9192C5.15155 28.3575 9.10685 28.3575 11.5464 30.9192L39.0526 59.8021C41.4921 62.3638 41.4921 66.5171 39.0526 69.0788Z' fill='#D61F24')
					path(d='M39.0527 1.92125C41.4922 4.48292 41.4922 8.6362 39.0527 11.1979L11.5465 40.0808C9.10694 42.6425 5.15163 42.6425 2.71208 40.0808C0.27252 37.5192 0.272521 33.3659 2.71208 30.8042L30.2182 1.92125C32.6578 -0.640415 36.6131 -0.640419 39.0527 1.92125Z' fill='#D61F24')
			.screen3__swiper-arrow-next.swiper-arrow.swiper-arrow-next.class-desktop.arrow-swiper-next-small
				svg(width='41' height='71' viewBox='0 0 41 71' fill='none' xmlns='http://www.w3.org/2000/svg')
					path(d='M39.0526 69.0788C36.613 71.6404 32.6577 71.6404 30.2181 69.0788L2.712 40.1958C0.272436 37.6341 0.272433 33.4808 2.71199 30.9192C5.15155 28.3575 9.10685 28.3575 11.5464 30.9192L39.0526 59.8021C41.4921 62.3638 41.4921 66.5171 39.0526 69.0788Z' fill='#D61F24')
					path(d='M39.0527 1.92125C41.4922 4.48292 41.4922 8.6362 39.0527 11.1979L11.5465 40.0808C9.10694 42.6425 5.15163 42.6425 2.71208 40.0808C0.27252 37.5192 0.272521 33.3659 2.71208 30.8042L30.2182 1.92125C32.6578 -0.640415 36.6131 -0.640419 39.0527 1.92125Z' fill='#D61F24')
			.screen3__swiper-arrow-next.swiper-arrow.swiper-arrow-next.class-desktop.arrow-swiper-next-big
				svg(width='41' height='71' viewBox='0 0 41 71' fill='none' xmlns='http://www.w3.org/2000/svg')
					path(d='M39.0526 69.0788C36.613 71.6404 32.6577 71.6404 30.2181 69.0788L2.712 40.1958C0.272436 37.6341 0.272433 33.4808 2.71199 30.9192C5.15155 28.3575 9.10685 28.3575 11.5464 30.9192L39.0526 59.8021C41.4921 62.3638 41.4921 66.5171 39.0526 69.0788Z' fill='#D61F24')
					path(d='M39.0527 1.92125C41.4922 4.48292 41.4922 8.6362 39.0527 11.1979L11.5465 40.0808C9.10694 42.6425 5.15163 42.6425 2.71208 40.0808C0.27252 37.5192 0.272521 33.3659 2.71208 30.8042L30.2182 1.92125C32.6578 -0.640415 36.6131 -0.640419 39.0527 1.92125Z' fill='#D61F24')
			.screen3__swiper.swiper 
				.screen3__swiper-wrapper.swiper-wrapper 
					.screen3__slide.swiper-slide 
						.screen3__item.item-screen3 
							.item-screen3__icon 
								.item-screen3__icon-circle
								.item-screen3__icon-image
									img(src="images/screen3/1.png", alt="alt")
							.item-screen3__title Подшипник
					.screen3__slide.swiper-slide 
						.screen3__item.item-screen3 
							.item-screen3__icon 
								.item-screen3__icon-circle
								.item-screen3__icon-image
									img(src="images/screen3/2.png", alt="alt")
							.item-screen3__title Ступица
					.screen3__slide.swiper-slide 
						.screen3__item.item-screen3 
							.item-screen3__icon 
								.item-screen3__icon-circle
								.item-screen3__icon-image
									img(src="images/screen3/3.png", alt="alt")
							.item-screen3__title Приводной ремень
					.screen3__slide.swiper-slide 
						.screen3__item.item-screen3 
							.item-screen3__icon 
								.item-screen3__icon-circle
								.item-screen3__icon-image
									img(src="images/screen3/4.png", alt="alt")
							.item-screen3__title Фильтр
					.screen3__slide.swiper-slide 
						.screen3__item.item-screen3 
							.item-screen3__icon 
								.item-screen3__icon-circle
								.item-screen3__icon-image
									img(src="images/screen3/1.png", alt="alt")
							.item-screen3__title Подшипник
					.screen3__slide.swiper-slide 
						.screen3__item.item-screen3 
							.item-screen3__icon 
								.item-screen3__icon-circle
								.item-screen3__icon-image
									img(src="images/screen3/2.png", alt="alt")
							.item-screen3__title Ступица
					.screen3__slide.swiper-slide 
						.screen3__item.item-screen3 
							.item-screen3__icon 
								.item-screen3__icon-circle
								.item-screen3__icon-image
									img(src="images/screen3/3.png", alt="alt")
							.item-screen3__title Приводной ремень
					.screen3__slide.swiper-slide 
						.screen3__item.item-screen3 
							.item-screen3__icon 
								.item-screen3__icon-circle
								.item-screen3__icon-image
									img(src="images/screen3/4.png", alt="alt")
							.item-screen3__title Фильтр
				.screen3__show-more-btn Смотреть ещё
					.swiper-arrow.swiper-arrow-prev
						svg(width='41' height='71' viewBox='0 0 41 71' fill='none' xmlns='http://www.w3.org/2000/svg')
							path(d='M39.0526 69.0788C36.613 71.6404 32.6577 71.6404 30.2181 69.0788L2.712 40.1958C0.272436 37.6341 0.272433 33.4808 2.71199 30.9192C5.15155 28.3575 9.10685 28.3575 11.5464 30.9192L39.0526 59.8021C41.4921 62.3638 41.4921 66.5171 39.0526 69.0788Z' fill='#D61F24')
							path(d='M39.0527 1.92125C41.4922 4.48292 41.4922 8.6362 39.0527 11.1979L11.5465 40.0808C9.10694 42.6425 5.15163 42.6425 2.71208 40.0808C0.27252 37.5192 0.272521 33.3659 2.71208 30.8042L30.2182 1.92125C32.6578 -0.640415 36.6131 -0.640419 39.0527 1.92125Z' fill='#D61F24')
					.swiper-arrow.swiper-arrow-next
						svg(width='41' height='71' viewBox='0 0 41 71' fill='none' xmlns='http://www.w3.org/2000/svg')
							path(d='M39.0526 69.0788C36.613 71.6404 32.6577 71.6404 30.2181 69.0788L2.712 40.1958C0.272436 37.6341 0.272433 33.4808 2.71199 30.9192C5.15155 28.3575 9.10685 28.3575 11.5464 30.9192L39.0526 59.8021C41.4921 62.3638 41.4921 66.5171 39.0526 69.0788Z' fill='#D61F24')
							path(d='M39.0527 1.92125C41.4922 4.48292 41.4922 8.6362 39.0527 11.1979L11.5465 40.0808C9.10694 42.6425 5.15163 42.6425 2.71208 40.0808C0.27252 37.5192 0.272521 33.3659 2.71208 30.8042L30.2182 1.92125C32.6578 -0.640415 36.6131 -0.640419 39.0527 1.92125Z' fill='#D61F24')
