.screen2 
	.container 
		.screen2__title.general-title.light-title Наши преимущества
		.screen2__text.general-text.light-text Компания “Ashuno” основана в 1965 году в Нагое инженером-конструктором авиастроительной компании “Aichi” Токуитиро Гомёсом и занималась проектированием автомобильной гидравлики.
		.screen2__items 
			.screen__bg
			.screen2__row 
				.screen2__item.item-screen2 
					.item-screen2__icon 
						img(src="images/screen2/1.png", alt="alt")
						.item-screen2__circle
					.item-screen2__body
						.item-screen2__title 50 000+
						.item-screen2__subtitle довольных клиентов
				.screen2__item.item-screen2 
					.item-screen2__icon 
						img(src="images/screen2/2.png", alt="alt")
						.item-screen2__circle
					.item-screen2__body
						.item-screen2__title 50 лет
						.item-screen2__subtitle лет компании
				.screen2__item.item-screen2 
					.item-screen2__icon 
						img(src="images/screen2/3.png", alt="alt")
						.item-screen2__circle
					.item-screen2__body
						.item-screen2__title Строгий
						.item-screen2__subtitle контроль качества