.screen1 
	.container
		.body-screen1__title.general-title.class-mobile Качественные запчасти
		.body-screen1__subtitle.general-subtitle.class-mobile Японская система контроля качества
		.body-screen1__text.general-text.class-mobile Магазин запчастей, в котором представлены новые оригинальные и лицензионные запчасти в наличии и под заказ.
		.screen1__header.header-screen1 

			.swiper.header-screen1__btns
				.swiper-wrapper
					.swiper-slide
						.header-screen1__btn Артикулу
					.swiper-slide
						.header-screen1__btn ВИН
					.swiper-slide
						.header-screen1__btn ОЕМ
					.swiper-slide
						.header-screen1__btn Названию
					.swiper-slide
						.header-screen1__btn Региональному номеру
			.swiper.header-screen1__search-wrapper(thumbsslider='')
				.swiper-wrapper
					.swiper-slide
						.header-screen1__search 
							input.header-screen1__input(type="text" placeholder="Введите артикул")
							.header-screen1__search-icon
					.swiper-slide
						.header-screen1__search 
							input.header-screen1__input(type="text" placeholder="Введите ВИН")
							.header-screen1__search-icon
					.swiper-slide
						.header-screen1__search 
							input.header-screen1__input(type="text" placeholder="Введите ОЕМ")
							.header-screen1__search-icon
					.swiper-slide
						.header-screen1__search 
							input.header-screen1__input(type="text" placeholder="Введите название")
							.header-screen1__search-icon
					.swiper-slide
						.header-screen1__search 
							input.header-screen1__input(type="text" placeholder="Введите региональный номер")
							.header-screen1__search-icon




		.screen1__body.body-screen1 
			.screen__bg
			.body-screen1__left(data-aos="fade" data-aos-duration="1000" data-aos-delay="2500")
				.body-screen1__title.general-title.class-desktop Качественные запчасти
				.body-screen1__subtitle.general-subtitle.class-desktop Японская система контроля качества
				.body-screen1__text.general-text.class-desktop Магазин запчастей, в котором представлены новые оригинальные и лицензионные запчасти в наличии и под заказ.
				.body-screen1__btns 
					.body-screen1__btn.body-screen1__btn--red Каталог
					.body-screen1__btn.body-screen1__btn--border Стать дистрибьютором
			.body-screen1__right
				.body-screen1__circle
				.body-screen1__circle-anim 
				.body-screen1__right-anim(data-aos="fade" data-aos-duration="1000" data-aos-delay="2700") 
					.body-screen1__image.body-screen1__image--car 
						img(src="images/screen1/car.png", alt="alt")
					.body-screen1__image.body-screen1__image--small.body-screen1__image--bearing 
						.body-screen1__image-name Подшипник
							.body-screen1__image-name-dot
						img(src="images/screen1/bearing.png", alt="alt")
					.body-screen1__image.body-screen1__image--small.body-screen1__image--bushing 
						.body-screen1__image-name Ступица
							.body-screen1__image-name-dot
						img(src="images/screen1/bushing.png", alt="alt")
					.body-screen1__image.body-screen1__image--small.body-screen1__image--belt 
						.body-screen1__image-name Приводной ремень
							.body-screen1__image-name-dot
						img(src="images/screen1/belt.png", alt="alt")
					.body-screen1__image.body-screen1__image--small.body-screen1__image--filters 
						.body-screen1__image-name Фильтр
							.body-screen1__image-name-dot
						img(src="images/screen1/filters.png", alt="alt")