.screen4 
	.container 
		.screen4__title.general-title.light-title Отзывы о нашей продукции
		.screen4__row 
			.screen__bg
			.screen4__left.left-screen4 
				.screen4__subtitle 
					span Новости
					.card-screen4__line.card-screen4__line--side.class-mobile
				.left-screen4__swiper-wrapper 
					.swiper-arrow.swiper-arrow-prev
						svg(width='22' height='13' viewBox='0 0 22 13' fill='none' xmlns='http://www.w3.org/2000/svg')
							path(d='M21.4047 12.4053C22.1984 11.6125 22.1984 10.327 21.4047 9.53414L12.455 0.594643C11.6613 -0.198214 10.3743 -0.198215 9.58058 0.594641C8.78683 1.3875 8.78683 2.67297 9.58058 3.46583L18.5302 12.4053C19.324 13.1982 20.6109 13.1982 21.4047 12.4053Z' fill='#D61F24')
							path(d='M0.595316 12.4054C1.38907 13.1982 2.67601 13.1982 3.46976 12.4054L12.4194 3.46586C13.2132 2.673 13.2132 1.38753 12.4194 0.594669C11.6257 -0.198187 10.3387 -0.198187 9.54497 0.594669L0.595318 9.53417C-0.198438 10.327 -0.19844 11.6125 0.595316 12.4054Z' fill='#D61F24')
					.left-screen4__swiper.swiper 
						.swiper-wrapper 
							.left-screen4__slide.swiper-slide 
								.card-screen4
									.card-screen4__image 
										img(src="images/screen4/1.png", alt="alt")
									.card-screen4__body
										.card-screen4__title Новые детали от поставщика
										.card-screen4__text Новые детали от поставщика на следующей... 
									
									.card-screen4__circle.class-desktop
									.card-screen4__line-top
									.card-screen4__line-bottom 
							.left-screen4__slide.swiper-slide 
								.card-screen4
									.card-screen4__image 
										img(src="images/screen4/2.png", alt="alt")
									.card-screen4__body
										.card-screen4__title Новые детали от поставщика
										.card-screen4__text Новые детали от поставщика на следующей... 
									
									.card-screen4__circle.class-desktop
									.card-screen4__line-top
									.card-screen4__line-bottom 
							.left-screen4__slide.swiper-slide 
								.card-screen4
									.card-screen4__image 
										img(src="images/screen4/3.png", alt="alt")
									.card-screen4__body
										.card-screen4__title Новые детали от поставщика
										.card-screen4__text Новые детали от поставщика на следующей... 
									
									.card-screen4__circle.class-desktop
									.card-screen4__line-top
									.card-screen4__line-bottom 
							.left-screen4__slide.swiper-slide 
								.card-screen4
									.card-screen4__image 
										img(src="images/screen4/4.png", alt="alt")
									.card-screen4__body
										.card-screen4__title Новые детали от поставщика
										.card-screen4__text Новые детали от поставщика на следующей... 
									
									.card-screen4__circle.class-desktop
									.card-screen4__line-top
									.card-screen4__line-bottom 
							.left-screen4__slide.swiper-slide 
								.card-screen4
									.card-screen4__image 
										img(src="images/screen4/1.png", alt="alt")
									.card-screen4__body
										.card-screen4__title Новые детали от поставщика
										.card-screen4__text Новые детали от поставщика на следующей... 
									
									.card-screen4__circle.class-desktop
									.card-screen4__line-top
									.card-screen4__line-bottom 
							.left-screen4__slide.swiper-slide 
								.card-screen4
									.card-screen4__image 
										img(src="images/screen4/2.png", alt="alt")
									.card-screen4__body
										.card-screen4__title Новые детали от поставщика
										.card-screen4__text Новые детали от поставщика на следующей... 
									
									.card-screen4__circle.class-desktop
									.card-screen4__line-top
									.card-screen4__line-bottom 
							.left-screen4__slide.swiper-slide 
								.card-screen4
									.card-screen4__image 
										img(src="images/screen4/3.png", alt="alt")
									.card-screen4__body
										.card-screen4__title Новые детали от поставщика
										.card-screen4__text Новые детали от поставщика на следующей... 
									
									.card-screen4__circle.class-desktop
									.card-screen4__line-top
									.card-screen4__line-bottom 
							.left-screen4__slide.swiper-slide 
								.card-screen4
									.card-screen4__image 
										img(src="images/screen4/4.png", alt="alt")
									.card-screen4__body
										.card-screen4__title Новые детали от поставщика
										.card-screen4__text Новые детали от поставщика на следующей... 
									
									.card-screen4__circle.class-desktop
									.card-screen4__line-top
									.card-screen4__line-bottom 
					.swiper-arrow.swiper-arrow-next
						svg(width='22' height='13' viewBox='0 0 22 13' fill='none' xmlns='http://www.w3.org/2000/svg')
							path(d='M21.4047 0.594671C22.1984 1.38753 22.1984 2.673 21.4047 3.46586L12.455 12.4054C11.6613 13.1982 10.3743 13.1982 9.58058 12.4054C8.78683 11.6125 8.78683 10.327 9.58058 9.53417L18.5302 0.594672C19.324 -0.198184 20.6109 -0.198185 21.4047 0.594671Z' fill='#D61F24')
							path(d='M0.595316 0.594642C1.38907 -0.198214 2.67601 -0.198214 3.46976 0.594642L12.4194 9.53414C13.2132 10.327 13.2132 11.6125 12.4194 12.4053C11.6257 13.1982 10.3387 13.1982 9.54497 12.4053L0.595318 3.46583C-0.198438 2.67297 -0.19844 1.3875 0.595316 0.594642Z' fill='#D61F24')
			.screen4__center 
				.screen4__subtitle.screen4__subtitle--mobile.class-mobile 
					span ПРОСМОТР
					.card-screen4__line.card-screen4__line--side.card-screen4__line-dots
				.left-center-screen4__circle 
				.screen4__center-inner 
					img(src="images/screen4/6.png", alt="alt")
			.screen4__right.right-screen4 
				.screen4__subtitle 
					span Сертификаты
					.card-screen4__line.card-screen4__line--side.class-mobile
				.right-screen4__swiper-wrapper 
					.swiper-arrow.swiper-arrow-prev
						svg(width='22' height='13' viewBox='0 0 22 13' fill='none' xmlns='http://www.w3.org/2000/svg')
							path(d='M21.4047 12.4053C22.1984 11.6125 22.1984 10.327 21.4047 9.53414L12.455 0.594643C11.6613 -0.198214 10.3743 -0.198215 9.58058 0.594641C8.78683 1.3875 8.78683 2.67297 9.58058 3.46583L18.5302 12.4053C19.324 13.1982 20.6109 13.1982 21.4047 12.4053Z' fill='#D61F24')
							path(d='M0.595316 12.4054C1.38907 13.1982 2.67601 13.1982 3.46976 12.4054L12.4194 3.46586C13.2132 2.673 13.2132 1.38753 12.4194 0.594669C11.6257 -0.198187 10.3387 -0.198187 9.54497 0.594669L0.595318 9.53417C-0.198438 10.327 -0.19844 11.6125 0.595316 12.4054Z' fill='#D61F24')
					.right-screen4__swiper.swiper 
						.swiper-wrapper 
							.right-screen4__slide.swiper-slide 
								.card-screen4.hidden-after
									.card-screen4__image.card-screen4__image-mobile 
										img(src="images/screen4/2.jpg", alt="alt")
									.card-screen4__body
										.card-screen4__title Новые детали от поставщика
										.card-screen4__text Новые детали от поставщика на следующей... 
									
									.card-screen4__circle.class-desktop
									.card-screen4__line-top
									.card-screen4__line-bottom 
							.right-screen4__slide.swiper-slide 
								.card-screen4.js-active
									.card-screen4__image 
										img(src="images/screen4/6.png", alt="alt")
									.card-screen4__body
										.card-screen4__title Новые детали от поставщика
										.card-screen4__text Новые детали от поставщика на следующей... 
									
									.card-screen4__circle.class-desktop
									.card-screen4__line-top
									.card-screen4__line-bottom 
							.right-screen4__slide.swiper-slide 
								.card-screen4.hidden-before
									.card-screen4__image 
										img(src="images/screen4/1.jpg", alt="alt")
									.card-screen4__body
										.card-screen4__title Новые детали от поставщика
										.card-screen4__text Новые детали от поставщика на следующей... 
									
									.card-screen4__circle.class-desktop
									.card-screen4__line-top
									.card-screen4__line-bottom 
							.right-screen4__slide.swiper-slide 
								.card-screen4
									.card-screen4__image 
										img(src="images/screen4/2.jpg", alt="alt")
									.card-screen4__body
										.card-screen4__title Новые детали от поставщика
										.card-screen4__text Новые детали от поставщика на следующей... 
									
									.card-screen4__circle.class-desktop
									.card-screen4__line-top
									.card-screen4__line-bottom 
							.right-screen4__slide.swiper-slide 
								.card-screen4
									.card-screen4__image 
										img(src="images/screen4/1.jpg", alt="alt")
									.card-screen4__body
										.card-screen4__title Новые детали от поставщика
										.card-screen4__text Новые детали от поставщика на следующей... 
									
									.card-screen4__circle.class-desktop
									.card-screen4__line-top
									.card-screen4__line-bottom 
					.swiper-arrow.swiper-arrow-next
						svg(width='22' height='13' viewBox='0 0 22 13' fill='none' xmlns='http://www.w3.org/2000/svg')
							path(d='M21.4047 0.594671C22.1984 1.38753 22.1984 2.673 21.4047 3.46586L12.455 12.4054C11.6613 13.1982 10.3743 13.1982 9.58058 12.4054C8.78683 11.6125 8.78683 10.327 9.58058 9.53417L18.5302 0.594672C19.324 -0.198184 20.6109 -0.198185 21.4047 0.594671Z' fill='#D61F24')
							path(d='M0.595316 0.594642C1.38907 -0.198214 2.67601 -0.198214 3.46976 0.594642L12.4194 9.53414C13.2132 10.327 13.2132 11.6125 12.4194 12.4053C11.6257 13.1982 10.3387 13.1982 9.54497 12.4053L0.595318 3.46583C-0.198438 2.67297 -0.19844 1.3875 0.595316 0.594642Z' fill='#D61F24')
